@using gunluk.Models.Entity
@model List<gun>
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Life is about solving problems</title>
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="~/sbbb/life-is-simple/images/style.css" />
</head>
<body>
    <style>
        body {
            background-color: blueviolet
        }
        .siyah-footer {
            background-color: #000;
            color: #fff;
            padding: 10px 0;
            max-width: 100%;
        }

            .siyah-footer p {
                font-size: 14px;
            }

                .siyah-footer p::before {
                    content: "\2022"; /* Daire simgesi */
                    margin-right: 10px;
                }
    </style>
    <div id="sadrzaj">
        @RenderBody()
        <div id="zaglavlje">
            <div id="logo"> Günce! </div>
        </div>
        <div id="lijeva_kolona">
            <div id="menuheader"></div>
            <a href="/Gunluk/gunlukEkle">Günlük ekle</a>
            <div id="menufooter"></div>
        </div>

        <div id="desna_kolona">

            <h3>Bilgi-Tecrübeler</h3>
            <div class="text_desno">
                <p><a href="/Gunluk/bilgiTecrubeGetir">bilgiler-tecrübeler</a></p>
            </div>

        </div>
        @foreach (var k in Model)
        {
            <div class="srednja_kolona">
                <div class="content_title"><a href="#">@k.tarih</a></div>
                <div class="text"> @k.gunlukMesajı</div>

            </div>

        }
    </div>
    <footer class="siyah-footer">
        <p>&copy; 2024 tüm haklar saklıdır sb</p>
    </footer>
</body>


</html>
